<% include ../partials/header %>

<div class="container">
	<h1 class="index-header-text">Create an Incident</h1>
	<div class="form-container">
		<form action="/incidents" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="title" placeholder="incident title" required="required">
			</div>
			<div class="form-group">
				<textarea name="description" class="form-control" placeholder="description" required="required" rows="10"></textarea>
			</div>
			<div class="form-group">
				<select class="form-control" name="owner" required="required">
					<option selected="selected">Select Employee</option>

					<% users.reverse().forEach(function(user){%>
					<% if (currentUser && (currentUser.department === user.department)){ %>
					<% if (!currentUser._id.equals(user.id)) {%>
					<option value="<%= user.name %> <%= user.lname %>"><%= user.name %> <%= user.lname %></option>
					<%}%>
					<%}%>
					<% }); %>		
				</select>	
			</div>
			<div class="form-group">
				<button class="btn">CREATE INCIDENT</button>
			</div>
		</form>
	</div>	
</div>

<% include ../partials/footer %>	